<div class="row">

<div *ngFor="let c of pack; let i = index" class="col-xl-3 col-lg-6 col-sm-6">
    <div class="card mb-4 shadow-sm">
      <img  class="card-img-top img-fluid" src="/assets/client/images/packs/{{c.typepack}}/{{getRandomImage(c.typepack)}}" alt="">
      <div class="card-body">
        <h4 class="card-title">{{c.name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Price: {{c.price}} DT</h6>
        <div class="d-flex justify-content-between align-items-center">
          <div class="like-container" (click)="like(i)" (click)="addlike(c.idPack)">
            <i class="fa fa-heart" [ngClass]="{'fas': likesClicked[i], 'far': !likesClicked[i]}"></i>
            <span class="text-muted">{{ likesCount[i] }}</span>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <a href="/client/pack/details/{{c.idPack}}">Check</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>