<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a routerLink="/admin/products">Products</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">{{product.name}}</a></li>
    </ol>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-3 col-lg-6  col-md-6 col-xxl-5 ">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="first">
                                <img style="
                                height: 400px;
                                object-fit: cover;
                            " class="img-fluid rounded" src="{{product.imgUrl}}" alt="">
                            </div>
                          
                        </div>
                        
                    </div>
                    <!--Tab slider End-->
                    <div class="col-xl-9 col-lg-6  col-md-6 col-xxl-7 col-sm-12">
                        <div class="product-detail-content">
                            <!--Product details-->
                            <div class="new-arrival-content pr">
                                <h1>{{product.name}}</h1>
                 
                                
                    <br>
                                <p>Product Category: <span class="badge badge-success">{{product.category}}</span></p>
                                <br>
                                <p>Product Interest: <span style="font-size: large;" class=" text-warning">{{product.interest }} </span></p>

                                
                                <h4 class="text-content" style="    color: darkgrey;                                " >{{product.description}}</h4>
                                <br><br>

                                <div class="d-table mb-2 " style="display: flex;justify-content: right;">
                                    <p class="price float-start d-block">{{product.price| number:'1.0-0'}} Dt</p>
                                </div>

<br><br><br>
                                <div class="d-flex align-items-end flex-wrap mt-4">
                                  
                                    <!--Quanatity End-->
                                    <div class="shopping-cart  mb-2 me-3">
                                        <a class="btn btn-primary"  routerLink="/admin/product/{{product.idProduct}}/edit"><i
                                                class="fa fa-shopping-basket me-2"></i>Edit</a>
                                    </div>
                                    <div class="shopping-cart  mb-2 me-3">
                                        <a class="btn btn-danger" (click)="deleteProduct();" ><i
                                                class="fa fa-shopping-basket me-2"></i>Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
					
</div>