
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Accounts</h4>
                

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example5" class="display" style="min-width: 845px">
                        <thead>
                            <tr>


                                <th>Rib</th>
                                <th>CIN</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Type Account</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of accounts">

                                <td>{{c.rib}}</td>
                                <td>{{c.cin}}</td>
                                <td>{{c.date}}</td>
                                <td>{{c.solde}}</td>
                                <td>{{c.typeAcc}}</td>


                                <td>
                                    <span *ngIf="c.state"
                                        class="badge light badge-primary">OPEN</span>
                                    <span *ngIf="c.state==false"
                                        class="badge light badge-dark">Closed</span>

                                </td>
                                <!-- <td>{{c.responses.length}}</td> -->



                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
