<div class="nice-select default-select wide form-control" tabindex="0">
    <span class="current">Select</span><ul class="list">
        <li data-value="Please select" data-display="Select" class="option selected focus">Please select

        </li>
        <li data-value="html" class="option">HTML</li>
        <li data-value="css" class="option">CSS</li>
        <li data-value="javascript" class="option">JavaScript</li>
        <li data-value="angular" class="option">Angular</li>
        <li data-value="angular" class="option">React</li>
        <li data-value="vuejs" class="option">Vue.js</li>
        <li data-value="ruby" class="option">Ruby</li>
        <li data-value="php" class="option">PHP</li>
        <li data-value="asp" class="option">ASP.NET</li>
        <li data-value="python" class="option">Python</li>
        <li data-value="mysql" class="option">MySQL</li>
    </ul>
</div>