<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item ">Notifications</li>
        <li class="breadcrumb-item ">Private Notifications</li>
        <li class="breadcrumb-item active">Choose a User</li>
    </ol>
</div>

<div class="row">
    <div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
        <div class="card bg-info">
            <div class="card-body">
                <div class="students d-flex align-items-center justify-content-between flex-wrap">
                    <div>
                        <h4>{{users.length}}</h4>
                        <h5>Total Users</h5>
                        <span>~{{notifs.length/users.length| number:'1.0-0'}}  notifications per user</span>
                    </div>
                    <div>
                        <img src="/assets/client/icons/flaticon/notifications.png" height="60px" width="60px"
                        style="color :white;margin-right: 15px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6"></div>
    <div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6"></div>
    <div class="col-xl-3 col-xxl-6 col-lg-6 col-sm-6">
        <div class="card bg-success overflow-hidden">
            <div class="card-body">
                <div class="students d-flex align-items-center justify-content-between flex-wrap">
                    <div>
                        <h4>{{read*100/notifs.length| number:'1.0-0'}} %</h4>
                        <h5>are Read</h5>
                        <span>{{notifs.length-read}} not yet !</span>
                    </div>
                    <div>
                        <img src="/assets/client/icons/flaticon/read.png" height="60px" width="60px"
                        style="color :white;margin-right: 15px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
  

</div>

<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Users</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example5" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>All</th>
                                <th>Account</th>
                                <th>Project</th>
                                <th>Credit</th>
                                <th>Transaction</th>
                                <th>other</th>
                                <th>Check</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let d of data | keyvalue">
                                <td>{{d.value['username']}}</td>
                                <td>{{d.value['all']}}</td>
                                <td>{{d.value['ACCOUNT']}}</td>
                                <td>{{d.value['PROJECT']}}</td>
                                <td>{{d.value['CREDIT']}}</td>
                                <td>{{d.value['TRANSACTION']}}</td>
                                <td>{{d.value['OTHER']}}</td>
                                <td>
                                    <button type="button" class="btn btn-square btn-outline-success"><a
                                            style="color: white;"
                                            href="/admin/private-notification/{{d.key}}">Check</a></button>

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>