<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Invested Projects</h4>
             

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example6" class="display" style="min-width: 845px">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Category</th>
                                <th>Budget</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of inves">

                                <td>{{c.name}}</td>
                                <td>{{c.category}}</td>
                                <td>{{c.budget| number:'1.0-3'}}</td>
                                

                                <td>
                                    <button type="button" class="btn btn-square btn-outline-success"><a
                                            style="color: white;"
                                            href="/client/investments/p/{{c.idProject}}">Check</a></button>

                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Other Projects</h4>
             

            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example5" class="display" style="min-width: 845px">
                        <thead>
                            <tr>

                                <th>Name</th>
                                <th>Category</th>
                                <th>Budget</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let c of noninves">

                                <td>{{c.name}}</td>
                                <td>{{c.category}}</td>
                                <td>{{c.budget| number:'1.0-3'}}</td>
                                

                                <td>
                                    <button type="button" class="btn btn-square btn-outline-success"><a
                                            style="color: white;"
                                            href="/client/investments/p/{{c.idProject}}">Check</a></button>

                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>