
<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="/admin/users">Users</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">{{u.username}}</a></li>

    </ol>
</div>
<div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <div class="profile-interest">
          <button (click)="deleteUser()" type="button" class="btn btn-danger" id="remove">Remove Client <span class="btn-icon-end"><i class="fas fa-times"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
  
                    
                    
                  
                
        

                    
                    <div class="row page-titles">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active"><a class="btn btn-primary" href="/admin/dashboard">Back to Home</a></li>
                        </ol>


