<div class="dlabnav">
    <div class="dlabnav-scroll">

        <ul class="metismenu" id="menu">

            <li><a href="/client/dashboard" class="" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/home.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li><a class="has-arrow " href="/client/" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/wallet.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Accounts</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/client/">Accounts .. 1 ..</a></li>
                    <li><a href="/client/">Accounts .. 2 ..</a></li>
                    <li><a href="/client/">Accounts .. 3 ..</a></li>

                </ul>
            </li>
            <li><a class="has-arrow " href="/client/" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/transaction.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Transaction</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/client/">Transaction .. 1 ..</a></li>
                    <li><a href="/client/">Transaction .. 2 ..</a></li>
                    <li><a href="/client/">Transaction .. 3 ..</a></li>

                </ul>
            </li>
            <li><a class="has-arrow " href="/client/" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/growth.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Investissement</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/client/">Investissement .. 1 ..</a></li>
                    <li><a href="/client/">Investissement .. 2 ..</a></li>
                    <li><a href="/client/">Investissement .. 3 ..</a></li>

                </ul>
            </li>
            <li><a class="has-arrow " href="/client/creditsClient" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/loan.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Loan</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/client/creditsClient">My loans</a></li>
                    <li><a href="/client/">File for a loan</a></li>
                    

                </ul>
            </li>
            <li><a href="/client/complaints" class="" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/complaint.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Complaint</span>
                </a>
            </li>
            <li><a class="has-arrow " href="/client/" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/pack.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Packs</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/client/">Packs .. 1 ..</a></li>
                    <li><a href="/client/">Packs .. 2 ..</a></li>
                    <li><a href="/client/">Packs .. 3 ..</a></li>

                </ul>
            </li>
            <li><a href="/client/" class="" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/calculator.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Retairement Plan</span>
                </a>
            </li>
        </ul>

        <div class="copyright">
            <p class="fs-14"><strong>GrowFunds Personal Banking</strong> © 2023 All Rights Reserved</p>
            <p class="fs-14">Made with <span class="heart"></span> in Esprit.</p>
        </div>
    </div>
</div>