<div class="dlabnav">
    <div class="dlabnav-scroll">

        <ul class="metismenu" id="menu">

            <li><a href="/admin/dashboard" class="" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/home.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li><a class="has-arrow " href="/admin/" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/wallet.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Accounts</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/">Accounts .. 1 ..</a></li>
                    <li><a href="/admin/">Accounts .. 2 ..</a></li>
                    <li><a href="/admin/">Accounts .. 3 ..</a></li>

                </ul>
            </li>
            <li><a class="has-arrow " href="/admin/" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/transaction.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Transaction</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/">Transaction .. 1 ..</a></li>
                    <li><a href="/admin/">Transaction .. 2 ..</a></li>
                    <li><a href="/admin/">Transaction .. 3 ..</a></li>

                </ul>
            </li>
            <li><a class="has-arrow " href="/admin/" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/growth.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Investissement</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/">Investissement .. 1 ..</a></li>
                    <li><a href="/admin/">Investissement .. 2 ..</a></li>
                    <li><a href="/admin/">Investissement .. 3 ..</a></li>

                </ul>
            </li>
            <li><a class="has-arrow " href="/admin/" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/loan.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Loan</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/">Loan .. 1 ..</a></li>
                    <li><a href="/admin/">Loan .. 2 ..</a></li>
                    <li><a href="/admin/">Loan .. 3 ..</a></li>

                </ul>
            </li>
            <li><a href="/admin/" class="" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/complaint.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Complaint</span>
                </a>
            </li>
            <li><a class="has-arrow " href="/admin/" aria-expanded="false">
                    <div class="menu-icon">
                        <img src="/assets/client/icons/flaticon/pack.png" height="24px" width="24px"
                            style="color :white;margin-right: 15px;">
                    </div>
                    <span class="nav-text">Packs</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/admin/">Packs .. 1 ..</a></li>
                    <li><a href="/admin/">Packs .. 2 ..</a></li>
                    <li><a href="/admin/">Packs .. 3 ..</a></li>

                </ul>
            </li>
            <li><a class="has-arrow " href="/admin/" aria-expanded="false">
                <div class="menu-icon">
                    <img src="/assets/client/icons/flaticon/pack.png" height="24px" width="24px"
                        style="color :white;margin-right: 15px;">
                </div>
                <span class="nav-text">Notifications</span>
            </a>
            <ul aria-expanded="false">
                <li><a href="/admin/">Public Notifications</a></li>
                <li><a href="/admin/">Private Notifications</a></li>

            </ul>
        </li>
        </ul>

        <div class="copyright">
            <p class="fs-14"><strong>GrowFunds Personal Banking</strong> © 2023 All Rights Reserved</p>
            <p class="fs-14">Made with <span class="heart"></span> in Esprit.</p>
        </div>
    </div>
</div>