<div class="row page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="javascript:void(0)">pack</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">Add</a></li>
    </ol>
</div>


<div class="col-xl-12 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">New pack</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form method="post">
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            <input  type="text" class="form-control" placeholder="Name" [(ngModel)]="p.name" name="nameProdcut">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Price</label>
                        <div class="col-sm-9">
                            <input  type="number" class="form-control" placeholder="priceProduct" [(ngModel)]="p.price" name="priceProduct">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">Quantity</label>
                        <div class="col-sm-9">
                            <input  type="text" class="form-control" placeholder="quantity" [(ngModel)]="p.typepack" name="quantity">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label">
                        <div class="col-sm-9">
                            <textarea placeholder="details" class="form-control" rows="20"  name="details"  [(ngModel)]="p.descriptionpack" ></textarea>
                        </div>
                    </label>
                </div>
                    <div class="mb-3 row align-right">
                        <div class="col-sm-10">
                            <button (click)="addpack();" type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>